<div class="filter">
    <button type="button" class="btn btn-outline-primary filter-button selected border-2 me-3" data-filter="all">All</button>
    <% availableSizes.map(({ size_name }) => { %>
    <button type="button" class="btn btn-outline-primary filter-button border-2 me-3" data-filter="<%= size_name.toLowerCase() %>"><%= size_name.charAt(0).toUpperCase() + size_name.slice(1) %></button>
    <% }) %>
</div>