<% if (add) { %>
    <div class="flash active bg-limegreen04 d-flex align-items-center justify-content-center">
        Data Berhasil Disimpan
    </div>
<% } %>

<% if (del) { %>
    <div class="flash active bg-dark text-light d-flex align-items-center justify-content-center">
        Data Berhasil Dibuang
    </div>
<% } %>
