
<div class="sidebar bg-darkblue04 d-flex flex-column align-items-center">
    <a href="/cars/list" class="sidebar-brand items bg-darkblue01"></a>
    <div class="destination py-2 items <%= location.routeName === 'Dashboard'  && 'selected' %>">
        <a href="/cars/list">
            <i class="fa-solid fa-house d-flex justify-content-center align-items-center mx-auto"></i>
            <p>Dashboard</p>
        </a>
    </div>
    <div class="destination py-2 items <%= location.routeName === 'Cars'  && 'selected' %>">
        <a href="/cars/list">
            <i class="fa-solid fa-car d-flex justify-content-center align-items-center mx-auto"></i>
            <p>Cars</p>
        </a>
    </div>
</div>