<div class="sidebar-navbar bg-light" id="sidebar-navbar">
    <h5 class="route ms-4 my-4"><%= location.routeName %></h5>
    <h4 class="available-route ps-4 py-3 selected"><a href="<%= availableRoutes[0].href %>" class="text-dark"><%= availableRoutes[0].routeName %></a></h4>
   
</div>