

<%{ './templates.html' }%>
<%{ css %>
	<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/css/flash.css">
	<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/popup.css">
	<link rel="stylesheet" type="text/css" href="/css/sidebarNavbar.css">
<%} %>

<%{ title %>
	Dashboard
<%} %>

<%{ content %>
	
	<% const url = {
                    location: {
                                routeName: "Cars", 
                                href: '/cars/list'
                                }, 
                    availableRoutes: [
                                        {
                                            routeName: "List Car", 
                                            selected: true, 
                                            href: "/cars/list" 
                                        }
                                	] 
                    }; %>

	<%{ './partials/sidebar.html' { ...url } }%>
	<%{ './partials/navbar.html' }%>
	<%{ './partials/sidebarNavbar.html' { ...url } }%>
	<%{ './partials/flash.html' { add, del } }%>
	<%{ './partials/popup.html' }%>

	<div class="content mx-4 py-3" id="content">
		<%{ './partials/location.html' {...url, button: true} }%>	
		<%{ './partials/filter.html' }%>
		<%{ './partials/cardCollection.html' }%>
	</div>
<%} %>

<%{ js %>
	
	
	<script src="/js/delete.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/filter.js"></script>
	<script src="/js/listCar.js"></script>
	<script src="/js/dashboard.js"></script>
<%} %>