:root{
    --sidebar-size: 70px;
    --sidebar-navbar-size: 220px;
    --brand-size: 50px;
    --card-width: 300px;
    --card-height: 450px;
    --card-image-width: 270px;
    --card-image-height: 160px;
}

body{
    background-color: hsl(0, 0%, 85%);
}

/**********************************************/
/* CONTENT STYLE */
.content{
    position: absolute;
    top: var(--sidebar-size);
    left: calc(var(--sidebar-size) + var(--sidebar-navbar-size));
    width: calc(100vw - (var(--sidebar-size) + 3 * 1.5rem));
    transform: translateX(calc(-1 * var(--sidebar-navbar-size)));
    transition: transform 0.25s ease-in-out, width 0.25s ease-in-out;
}

.content.navbar-active{
    width: calc(100vw - (var(--sidebar-size) + var(--sidebar-navbar-size) + 3 * 1.5rem));
    transform: translateX(0);
}

.content > .location > .available-routes > a{
    color: black
}

.content > .filter > .selected{
    font-weight: 700;
    color: #0D28A6;
    background-color: rgb(174, 183, 226);
    border-color: #0D28A6;
}


.content > .card-collection{
    /* width: calc(100vw - var(--sidebar-size) - var(--sidebar-navbar-size) - 3 * 1.5rem); */
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-gap: 2rem;
}

.content > .card-collection > .spinner{
    border: 5px solid rgb(0,0,0,0.25);
    border-top: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
    margin: 20px auto;    
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.content > .card-collection > .card{
    width: 100%;
    height: var(--card-height);
}

.content > .card-collection > .card > .card-img-top{
    width: var(--card-image-width);
    height: var(--card-image-height);
    object-fit: cover;
}

.content > .card-collection > .card > .card-body{
    width: 90%;
    height: calc(var(--card-height) - var(--card-image-height));
}

.content > .card-collection > .card > .card-body > .card-text:nth-child(1){
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.content > .card-collection > .card > .card-body > .group-buttons > a{
    width: 45%;
}
/**********************************************/

