.flash{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    min-width: 550px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    z-index: 5;
}

.flash.active{
    animation: active 5s ease-in forwards;
}

@keyframes active {
    0%{
        top: 0;
    }

    10%, 90%{
        top: calc(var(--sidebar-size) + 50px);
    }

    100%{
        top: 0;
    }
}
