/*********************************************/
/* RESET STYLE */
body {
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
  }

  p{
    font-weight: 300;
    line-height: 18px;
    font-size: 12px;
    margin: 0;
  }
  
  /*********************************************/
  
  /*********************************************/
  /* MAIN STYLE */
  
  /* WIDTH STYLE */
  .w-10 {
    width: 10% !important;
  }
  
  .w-37-5 {
    width: 37.5% !important;
  }
  
  .w-62-5 {
    max-width: 62.5% !important;
  }
  
  .w-90 {
    max-width: 90% !important;
  }
  
  .w-100 {
    max-width: 100% !important;
  }
  
  .w-130 {
    width: 130%;
  }
  
  /* HEIGHT STYLE */
  .h-95 {
    height: 95%;
  }
  
  .h-90 {
    height: 90%;
  }
  
  .h-87-5 {
    height: 87.5%;
  }
  
  .h-62-5 {
    height: 62.5%;
  }
  
  .vh-50 {
    height: calc(50vh + 70px);
  }
  
  .vh-62-5 {
    height: calc(62.5vh + 70px);
  }
  
  .vh-75 {
    height: calc(75vh + 70px);
  }
  
  .vh-87-5 {
    height: calc(87.5vh + 70px);
  }
  
  .text-tipis {
    font-weight: 300;
    font-size: 15px;
  }
  
  .text-small {
    font-size: 13px;
  }
  
  /* BACKGROUND STYLE */
  .bg-yellow {
    background-color: yellow;
  }
  
  .bg-limegreen05 {
    background-color: rgb(61, 123, 63);
  }
  
  .bg-limegreen04 {
    background-color: rgb(92, 184, 95);
    border: none;
  }
  
  .bg-limegreen03 {
    background-color: rgb(146, 208, 148);
  }
  
  .bg-limegreen02 {
    background-color: rgb(201, 231, 202);
  }
  
  .bg-limegreen01 {
    background-color: rgb(222, 241, 223);
  }
  
  .bg-green {
    background-color: #df9947;
  }
  
  .bg-darkblue05 {
    background-color: rgb(5, 27, 111);
  }
  
  .bg-darkblue04 {
    background-color: rgb(12, 40, 166);
  }
  
  .bg-darkblue03 {
    background-color: rgb(94, 112, 196);
  }
  
  .bg-darkblue02 {
    background-color: rgb(174, 183, 226);
  }
  
  .bg-darkblue01 {
    background-color: #cfd4ed;
  }
  
  /* COLOR STYLE */
  .color-black {
    color: black !important;
  }
  
  .color-yellow {
    color: #df9947;
  }
  
  /* SPACING STYLE */
  .flex-grow-init {
    flex-grow: initial;
  }
  
  .justify-content-evenly {
    justify-content: space-evenly;
  }
  
  .nowrap {
    flex-wrap: nowrap;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .py-7-5 {
    padding: 7.5rem 0;
  }
  
  .padding-top-70 {
    padding-top: 70px !important;
  }
  
  .padding-bot-50 {
    padding-bottom: 50px;
  }
  
  /* OTHER STYLE */
  .circle {
    border-radius: 50%;
  }
  
  .border-rad-25 {
    border-radius: 25px;
  }
  
  .no-border {
    border: none;
  }
  
  .overflowx-hidden {
    overflow-x: hidden;
  }
  
  .text-align-initial {
    text-align: initial;
  }
  
  .light-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  /*********************************************/
  
  /*********************************************/
  /* CUSTOM STYLE */
  
  
  
  
  /*********************************************/
  @media screen and (max-width: 991px) {
    
  }
  
  
  @media screen and (min-width: 992px) {
    
  }
  