.mutation-form > div > label{
    width: 12.5%;
}

.mutation-form > div > input[type=text], 
.mutation-form > div > select{
    width: 25%;
    background-color: white;
    display: initial;
    padding-right: 37.5px;
}

.mutation-form > div > input[type=text].invalid, 
.mutation-form > div > select.invalid{
    animation: invalid 0.5s ease forwards;
}

@keyframes invalid {
    20%{
        transform: translateX(-10px);
        border: 1px solid red;
    }

    40%{
        transform: translateX(10px);
        border: 1px solid red;
    }

    60%{
        transform: translateX(-5px);
        border: 1px solid red;
    }

    80%{
        transform: translateX(5px);
        border: 1px solid red;
    }

    100%{
        transform: translateX(0);
        border: 1px solid red;
    }
}

.mutation-form > div > input[type=text]:read-only{
    cursor: pointer;
}

.mutation-form > div > i{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

.mutation-form > div > input[type=text].invalid ~  i{
    animation: iconinvalid 0.5s ease forwards;
}

@keyframes iconinvalid {
    20%{
        transform: translate(-10px, -50%);
    }

    40%{
        transform: translate(10px, -50%);
    }

    60%{
        transform: translate(-5px, -50%);
    }

    80%{
        transform: translate(5px, -50%);
    }

    100%{
        transform: translate(0,-50%);
    }
}

.mutation-form > div > p{
    position: absolute;
    top: 100%;
    left: 12.5%;
}
