/**********************************************/
/* NAVBAR STYLE */
.navbar{
    position: fixed;
    top: 0;
    left: var(--sidebar-size);
    width: calc(100% - var(--sidebar-size) + var(--sidebar-navbar-size));
    margin-left: calc(-1 * var(--sidebar-navbar-size));
    height: var(--sidebar-size);
    z-index: 10;
    
    transition: 0.25s ease-in-out;
}

.navbar.active{
    width: calc(100% - var(--sidebar-size));
    margin-left: 0;
}

.navbar > div > .block-brand{
    position: relative;
    width: calc(var(--sidebar-navbar-size));
    margin-top: -0.5rem;
    height: calc(var(--sidebar-size));
}

.navbar > div > .block-brand > .brand{
    content: '';
    position: absolute;
    margin-left: 1.5rem;
    margin-top: calc(var(--sidebar-size) - var(--brand-size));
    width: 100px;
    height: 34px;
}




.navbar > div > div > .username{
    width: var(--brand-size);
    height: var(--brand-size);
    font-size: 1rem;
    font-weight: 700;
}

.navbar > div > div > .dropdown{
    height: var(--brand-size);
}

.navbar > div > div > .dropdown > .dropdown-menu{
    left: initial;
    right: 0;
}

/**********************************************/