.modal > .modal-dialog > .modal-content > .modal-body > *{
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.modal > .modal-dialog > .modal-content > .modal-body > img{
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.modal > .modal-dialog > .modal-content > .modal-body > p{
    font-size: 14px;
    line-height: 20px;
}

.modal > .modal-dialog > .modal-content > .modal-body > div > button{
    background-color: #0D28A6;
    border-color: #0D28A6;
    color: white !important;
}

.modal > .modal-dialog > .modal-content > .modal-body > div > a{
    color: #0D28A6;
    background-color: white !important;
    border-color: #0D28A6;
}

.modal > .modal-dialog > .modal-content > .modal-body > div > *{
    margin: 0 10px;
    width: 45%;
}
