/**********************************************/
/* SIDEBAR NAVBAR */
.sidebar-navbar{
    position: fixed;
    top: var(--sidebar-size);
    left: var(--sidebar-size);
    width: var(--sidebar-navbar-size);
    height: 100vh;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out;
}

.sidebar-navbar.active{
    transform: translateX(0);
}

.sidebar-navbar > .route{
    color: #8A8A8A;
    text-transform: uppercase;
}

.sidebar-navbar > .available-route {
    font-size: 1rem;
    line-height: 20px;
}

.sidebar-navbar > .available-route.selected {
    background-color: #CFD4ED;
}
/**********************************************/